[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"bK_SsuhB" = {path = ".", editable = true}


[dev-packages]

mypy = "*"
typing_extensions = "*"
green = "*"
pipenv = "*"


[requires]

python_version = "3.6"
